<link rel="stylesheet" href="~/css/HomeStyle.css" />
@{
    ViewData["Title"] = "Home";
}

<div class="container mt-5">
    <div class="text-center">
        <div class="jumbotron-fluid">
            <h1 class="display-4">Organize it with Task Manager</h1>
            <p class="lead">
                A Task Management System for managing tasks in your business
            </p>
            <p class="lead">1. Create a department first in Manage Department</p>
            <p class="lead">2. Then create an employee in Employee Management</p>
            <p class="lead">3. Then create a Task in Task List</p>
            <hr class="my-4">
        </div>
    </div>
</div>
